
.video{
    background: none;
    box-shadow: none;
    padding-right: 5.5rem;
}

.selectedcategory{
    display: flex;
padding: 8px 16px;
align-items: flex-start;
gap: 8px;
width: 2rem;
color: white;

border-radius: 8px;
background: #000;
}

.categories{
    display: flex;
    flex-direction: row;

    position: relative;
    padding-bottom: 2rem;
}

.unselectedcategory{
   
  padding-left: 2rem;
gap: 2rem;
    display: flex;

} 


.us{
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #F2F2F2;
    padding-right: 2rem;
    padding-left:2rem ;

}

.us:hover{
    color: white;
    background-color: var(--purple);
}

.tutorialcard{
    width: 20rem;
   
}

.vimg{
    width: 20rem;
}

.youtuber_img
{
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--purple);
}

.description{
    padding-top: 0.5rem;
    gap: 1rem;
    display: flex;
 
}

.title-des{
 
 padding-bottom: 0.5rem;
    flex: 1 0 0;
color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.name
{
    color: #5B5B5B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 6px;
}

.views{
    color: #5B5B5B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
}

.content2{
    
    display: flex;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    gap: 3rem;
   flex-direction: row;
  
  
}

.card{
    overflow: hidden;
    display: flex;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    gap: 8px;
    flex-direction: column;
      height:15rem ;
      width:25rem ;
      display: inline-flex;
  padding: 8px 8px 24px 8px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
  }
.edu{
    flex-wrap: wrap;
  display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}
.v-image{
    border-radius: 16px;
    height:14rem ;
    width:24rem ;
}

.title{
    padding-top: 2rem;
    padding-left: 5rem;
}




.blog-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 25rem;
 
}

.blog-button{
    height:2.5rem;
    width:6rem;
    color: white;
    margin-left: 5px;
    display: flex;
padding: 12px 5px;
flex-direction: column;
align-items: center;
gap: 10px;
border-radius: 6px;
background: #27974e;
border: none;
color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 100% */
cursor: pointer;

}
hr{
  
    border: 2px solid #27974e;
    margin: 1rem 0;

}

.yt-blogs{
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
}